PN_SYSTEM/PN_SYSTEM/Web References/SQL/sqlsrker.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RunStoredProcedure_Table_RunSQLSRKER">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StoredProcedureName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_datatable">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunStoredProcedure_Table_RunSQLSRKERResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RunStoredProcedure_Table_RunSQLSRKERResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunStoredProcedure_RunSQLSRKER">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StoredProcedureName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunStoredProcedure_RunSQLSRKERResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RunStoredProcedure_RunSQLSRKERResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SQL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSQLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RunSQLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectSQL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SQL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectSQLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectSQLResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectSQLGetComponent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="partno" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectSQLGetComponentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectSQLGetComponentResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectSQL_json">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SQL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectSQL_jsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectSQL_jsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RunStoredProcedure_Table_RunSQLSRKERSoapIn">
    <wsdl:part name="parameters" element="tns:RunStoredProcedure_Table_RunSQLSRKER" />
  </wsdl:message>
  <wsdl:message name="RunStoredProcedure_Table_RunSQLSRKERSoapOut">
    <wsdl:part name="parameters" element="tns:RunStoredProcedure_Table_RunSQLSRKERResponse" />
  </wsdl:message>
  <wsdl:message name="RunStoredProcedure_RunSQLSRKERSoapIn">
    <wsdl:part name="parameters" element="tns:RunStoredProcedure_RunSQLSRKER" />
  </wsdl:message>
  <wsdl:message name="RunStoredProcedure_RunSQLSRKERSoapOut">
    <wsdl:part name="parameters" element="tns:RunStoredProcedure_RunSQLSRKERResponse" />
  </wsdl:message>
  <wsdl:message name="RunSQLSoapIn">
    <wsdl:part name="parameters" element="tns:RunSQL" />
  </wsdl:message>
  <wsdl:message name="RunSQLSoapOut">
    <wsdl:part name="parameters" element="tns:RunSQLResponse" />
  </wsdl:message>
  <wsdl:message name="SelectSQLSoapIn">
    <wsdl:part name="parameters" element="tns:SelectSQL" />
  </wsdl:message>
  <wsdl:message name="SelectSQLSoapOut">
    <wsdl:part name="parameters" element="tns:SelectSQLResponse" />
  </wsdl:message>
  <wsdl:message name="SelectSQLGetComponentSoapIn">
    <wsdl:part name="parameters" element="tns:SelectSQLGetComponent" />
  </wsdl:message>
  <wsdl:message name="SelectSQLGetComponentSoapOut">
    <wsdl:part name="parameters" element="tns:SelectSQLGetComponentResponse" />
  </wsdl:message>
  <wsdl:message name="SelectSQL_jsonSoapIn">
    <wsdl:part name="parameters" element="tns:SelectSQL_json" />
  </wsdl:message>
  <wsdl:message name="SelectSQL_jsonSoapOut">
    <wsdl:part name="parameters" element="tns:SelectSQL_jsonResponse" />
  </wsdl:message>
  <wsdl:message name="RunStoredProcedure_RunSQLSRKERHttpGetIn">
    <wsdl:part name="StoredProcedureName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunStoredProcedure_RunSQLSRKERHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="RunSQLHttpGetIn">
    <wsdl:part name="SQL" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="SelectSQLHttpGetIn">
    <wsdl:part name="SQL" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectSQLHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SelectSQLGetComponentHttpGetIn">
    <wsdl:part name="partno" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectSQLGetComponentHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SelectSQL_jsonHttpGetIn">
    <wsdl:part name="SQL" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectSQL_jsonHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RunStoredProcedure_RunSQLSRKERHttpPostIn">
    <wsdl:part name="StoredProcedureName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunStoredProcedure_RunSQLSRKERHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="RunSQLHttpPostIn">
    <wsdl:part name="SQL" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RunSQLHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="SelectSQLHttpPostIn">
    <wsdl:part name="SQL" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectSQLHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SelectSQLGetComponentHttpPostIn">
    <wsdl:part name="partno" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectSQLGetComponentHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SelectSQL_jsonHttpPostIn">
    <wsdl:part name="SQL" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectSQL_jsonHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="sqlsrkerSoap">
    <wsdl:operation name="RunStoredProcedure_Table_RunSQLSRKER">
      <wsdl:input message="tns:RunStoredProcedure_Table_RunSQLSRKERSoapIn" />
      <wsdl:output message="tns:RunStoredProcedure_Table_RunSQLSRKERSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunStoredProcedure_RunSQLSRKER">
      <wsdl:input message="tns:RunStoredProcedure_RunSQLSRKERSoapIn" />
      <wsdl:output message="tns:RunStoredProcedure_RunSQLSRKERSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQL">
      <wsdl:input message="tns:RunSQLSoapIn" />
      <wsdl:output message="tns:RunSQLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectSQL">
      <wsdl:input message="tns:SelectSQLSoapIn" />
      <wsdl:output message="tns:SelectSQLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectSQLGetComponent">
      <wsdl:input message="tns:SelectSQLGetComponentSoapIn" />
      <wsdl:output message="tns:SelectSQLGetComponentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectSQL_json">
      <wsdl:input message="tns:SelectSQL_jsonSoapIn" />
      <wsdl:output message="tns:SelectSQL_jsonSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="sqlsrkerHttpGet">
    <wsdl:operation name="RunStoredProcedure_RunSQLSRKER">
      <wsdl:input message="tns:RunStoredProcedure_RunSQLSRKERHttpGetIn" />
      <wsdl:output message="tns:RunStoredProcedure_RunSQLSRKERHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQL">
      <wsdl:input message="tns:RunSQLHttpGetIn" />
      <wsdl:output message="tns:RunSQLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectSQL">
      <wsdl:input message="tns:SelectSQLHttpGetIn" />
      <wsdl:output message="tns:SelectSQLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectSQLGetComponent">
      <wsdl:input message="tns:SelectSQLGetComponentHttpGetIn" />
      <wsdl:output message="tns:SelectSQLGetComponentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectSQL_json">
      <wsdl:input message="tns:SelectSQL_jsonHttpGetIn" />
      <wsdl:output message="tns:SelectSQL_jsonHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="sqlsrkerHttpPost">
    <wsdl:operation name="RunStoredProcedure_RunSQLSRKER">
      <wsdl:input message="tns:RunStoredProcedure_RunSQLSRKERHttpPostIn" />
      <wsdl:output message="tns:RunStoredProcedure_RunSQLSRKERHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSQL">
      <wsdl:input message="tns:RunSQLHttpPostIn" />
      <wsdl:output message="tns:RunSQLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectSQL">
      <wsdl:input message="tns:SelectSQLHttpPostIn" />
      <wsdl:output message="tns:SelectSQLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectSQLGetComponent">
      <wsdl:input message="tns:SelectSQLGetComponentHttpPostIn" />
      <wsdl:output message="tns:SelectSQLGetComponentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectSQL_json">
      <wsdl:input message="tns:SelectSQL_jsonHttpPostIn" />
      <wsdl:output message="tns:SelectSQL_jsonHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sqlsrkerSoap" type="tns:sqlsrkerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RunStoredProcedure_Table_RunSQLSRKER">
      <soap:operation soapAction="http://tempuri.org/RunStoredProcedure_Table_RunSQLSRKER" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunStoredProcedure_RunSQLSRKER">
      <soap:operation soapAction="http://tempuri.org/RunStoredProcedure_RunSQLSRKER" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQL">
      <soap:operation soapAction="http://tempuri.org/RunSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectSQL">
      <soap:operation soapAction="http://tempuri.org/SelectSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectSQLGetComponent">
      <soap:operation soapAction="http://tempuri.org/SelectSQLGetComponent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectSQL_json">
      <soap:operation soapAction="http://tempuri.org/SelectSQL_json" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="sqlsrkerSoap12" type="tns:sqlsrkerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RunStoredProcedure_Table_RunSQLSRKER">
      <soap12:operation soapAction="http://tempuri.org/RunStoredProcedure_Table_RunSQLSRKER" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunStoredProcedure_RunSQLSRKER">
      <soap12:operation soapAction="http://tempuri.org/RunStoredProcedure_RunSQLSRKER" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQL">
      <soap12:operation soapAction="http://tempuri.org/RunSQL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectSQL">
      <soap12:operation soapAction="http://tempuri.org/SelectSQL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectSQLGetComponent">
      <soap12:operation soapAction="http://tempuri.org/SelectSQLGetComponent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectSQL_json">
      <soap12:operation soapAction="http://tempuri.org/SelectSQL_json" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="sqlsrkerHttpGet" type="tns:sqlsrkerHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="RunStoredProcedure_RunSQLSRKER">
      <http:operation location="/RunStoredProcedure_RunSQLSRKER" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQL">
      <http:operation location="/RunSQL" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectSQL">
      <http:operation location="/SelectSQL" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectSQLGetComponent">
      <http:operation location="/SelectSQLGetComponent" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectSQL_json">
      <http:operation location="/SelectSQL_json" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="sqlsrkerHttpPost" type="tns:sqlsrkerHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="RunStoredProcedure_RunSQLSRKER">
      <http:operation location="/RunStoredProcedure_RunSQLSRKER" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQL">
      <http:operation location="/RunSQL" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectSQL">
      <http:operation location="/SelectSQL" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectSQLGetComponent">
      <http:operation location="/SelectSQLGetComponent" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectSQL_json">
      <http:operation location="/SelectSQL_json" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sqlsrker">
    <wsdl:port name="sqlsrkerSoap" binding="tns:sqlsrkerSoap">
      <soap:address location="http://172.18.1.23/APItest/sqlsrker.asmx" />
    </wsdl:port>
    <wsdl:port name="sqlsrkerSoap12" binding="tns:sqlsrkerSoap12">
      <soap12:address location="http://172.18.1.23/APItest/sqlsrker.asmx" />
    </wsdl:port>
    <wsdl:port name="sqlsrkerHttpGet" binding="tns:sqlsrkerHttpGet">
      <http:address location="http://172.18.1.23/APItest/sqlsrker.asmx" />
    </wsdl:port>
    <wsdl:port name="sqlsrkerHttpPost" binding="tns:sqlsrkerHttpPost">
      <http:address location="http://172.18.1.23/APItest/sqlsrker.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>